*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../assets/images/the_final_cut_wpp.png');
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    color: aliceblue;
}

.lista ul{
    list-style-type: none;
    padding: 16px;
}

.lista a{
    color: aliceblue;
    text-decoration: none;
}

.lista nav a:hover{
    color: violet;
}

header{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 115%;
    color: azure;
}

form{
    position:sticky;
    margin: 1.5em auto;
    padding: 2em;
    max-width: 450px;
    background: rgba(68, 49, 88, 0.644);
    border-radius: 15px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
}

#titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}

#subtitulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset{
    border: 0;
}

input, select, textarea, button{
    border-radius: 3px;
}

.campo{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.campo label{
    margin-bottom: 0.2em;
    color:violet;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select{
    padding: 0.2em;
    border: 1px solid purple;
    box-shadow: 2px 2px 2px darkslateblue;
    font-size: 100%;
    width: 175px;
}

.campo input[name="usuario"]{
    width: 200px;
}

.campo select[id="genero"]{
    width: 150px;
}

.campo input[type="email"]{
    width: 365px;
}

.campo input[name="fav_msc"]{
    width: 365px;
}

.campo select[id="fav_alb"]{
    width: 365px;
}

.campo textarea{
    border: 2px solid purple;
    box-shadow: 1px 1px 1px darkslateblue;
    height: 150px;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: whitesmoke;
}

.botao{
    font-size: 1.2rem;
    background: darkorchid;
    border: 0;
    margin-bottom: 1rem;
    color: white;
    padding: 0.2em 0.5em;
    box-shadow: 2px 2px 2px whitesmoke;
    text-shadow: 1px 1px 1px whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.botao:hover{
    background: purple;
    box-shadow: inset 2px 2px 2px whitesmoke;
    text-shadow: none;
}

input[type="range"]{
    appearance: none;
    display: inline-block;
    width: 200px;
    height: 8px;
    border-radius: 5px;
    outline: none;
    border: 2px solid purple;
    background: whitesmoke;
}