/* classe para estilizar o fundo da oagina*/
html,body {
    background-image: url('../assets/images/tds.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100%;
}

/*classe para o estilo de imagem de albuns*/
.fundo {
    width: 750px;
    height: 1800px;
    background: rgba(146, 146, 146, 0.37); /* cor branca com transparência */
    border: 1px solid rgba(20, 13, 13, 0.329); /* borda leve e translúcida */
    padding: 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}


/*seletor pra titulo principal*/
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e63946;
    font-size: 4.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(235, 11, 11, 0.6);
}

/*seletor pra titulo secundario*/
h2 {
    border-left: 5px solid #ff4c4c;
    padding-left: 10px;
    color: #e70e0ed6;
}

/*seletor pra tabela*/
table {
    background-color: rgba(255, 255, 255, 0.05);
    border-collapse: collapse;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;  
}

/*seletor de cabecalho e contúdo*/
th, td {
    border: 1000px solid rgba(86, 0, 0, 0.959);
    text-align: center;
}


/*itens da lista*/
li
{
 /* Espaço entre os itens da lista */
    font-family: serif;
    font-size: 1.5em;
    text-shadow: 0 0 10px rgba(245, 245, 245, 0.6);
    /*text-shadow: 2px 2px 0px #FF0000;*/
}
